/* #region default settings */
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
/*
https://stackoverflow.com/questions/9664325/style-the-scrollbar-with-css-in-google-chrome-webkit
*/
::-webkit-scrollbar {
	width: 4px;
	background: #aaa;
}
::-webkit-scrollbar-thumb {
	background: rgb(100, 100, 100);
	-webkit-border-radius: 4px;
	-webkit-box-shadow: 0px 0.5px 1px rgb(0, 0, 0, 0.75);
}

html,
body {
	font-family: SF Pro Text, SF Pro Icons, AOS Icons, Helvetica Neue, Helvetica,
		Arial, sans-serif;
	font-size: 12px;
	color: #424245;
}

a {
	text-decoration: none;
	color: inherit;
}

li {
	list-style: none;
}

h1 {
	margin: 0;
	margin-bottom: 1rem;
}

button {
	padding: 4px 24px;
	border-radius: 8px;
	cursor: pointer;
	background-color: rgb(240, 240, 240);
	border: 0;
}
button:hover {
	color: #06c;
}

.cursor-pointer {
	text-decoration: underline;
	color: #06c;
	cursor: pointer;
}
/* #endregion */

/* #region flex */

.d-flex {
	display: flex;
}
.d-flex.gap {
	gap: 1rem;
}
.d-flex.column {
	flex-direction: column;
}
.d-flex.center {
	justify-content: center;
	align-items: center;
}
.d-flex.justify-start {
	justify-content: start;
}
.d-flex.justify-end {
	justify-content: end;
}
.d-flex.justify-between {
	justify-content: space-between;
}
.d-flex.align-start {
	align-items: start;
}
.d-flex.align-end {
	align-items: end;
}
.d-flex.align-between {
	align-items: space-between;
}
/* #endregion */

/* #region field */
.field {
	position: relative;
	margin: 1rem 0;
	/*width: 100%;*/
}
.field.sm {
	width: 20rem;
}
.field.md {
	width: 30rem;
}
.field.lg {
	width: 40rem;
}
.field > label {
	position: absolute;
	top: 8px;
	left: 8px;
	font-weight: 600;
	color: #06c;
	text-transform: capitalize;
}
.field > input,
.field > textarea {
	width: 100%;
	padding: 8px;
	padding-top: 24px;
	border-radius: 8px;
	border: 1px solid #424245;
}
.field > textarea {
	font-family: inherit;
	resize: none;
}
.field > textarea:focus {
	border: 1px solid #06c;
}
/* #endregion */
